  <% if (data.has_vendor && data.dev)  { %>
    <!-- Your js order here -->
    <!-- <script type="text/javascript" src="assets/components/"></script> -->
  <% } else if (data.has_vendor) { %>
    <script type="text/javascript" src="assets/javascript/vendor.js"></script>
  <% } %>

  <script type="text/javascript" src="assets/javascripts/main.js"></script>

  </body>
</html>
