<% include templates/header %>
<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>My app</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>

		<!-- Add your site or application content here -->
		<p>Hello world! This is HTML5 Boilerplate.</p>

    <script type="text/javascript" src="js/main<% if(!data.dev) { %>.min<% } %>.js"></script>

		</body>
	</html>
